{% extends "base.html" %}
{% block title %}Gutenberg Word Cloud{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Gutenberg Word Cloud</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form" action="/pgsearch" method="post">
                <div class="form-group">
                    <!-- TODO some kind of search form -->
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
{% endblock %}


